<mat-accordion [formGroup]="submitForm" class="edit-property">

  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Basic</mat-panel-title>
    </mat-expansion-panel-header>
    <form formGroupName="basic" fxLayout="row wrap">

      <div fxFlex="100" class="p-3">
        <h1 class="fw-500 text-center">Basic</h1>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title" required autocomplete="off">
          <mat-error *ngIf="submitForm.get('basic')['controls'].title.errors?.required">Title is required</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" formControlName="desc" rows="7"></textarea>
        </mat-form-field>
      </div>

      <!-- Sale Price -->
      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Sale Price</mat-label>
          <input matInput placeholder="Sale" min="0" onlyNumber formControlName="salePrice" required autocomplete="off">
          <span matSuffix>{{getCurrentSign()}}</span>
          <mat-error *ngIf="submitForm.get('basic')['controls'].salePrice.errors?.required">Sale Price is
            required
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Rent Price -->
      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Rent Price</mat-label>
          <input matInput placeholder="Rent" min="0" onlyNumber formControlName="rentPrice" required autocomplete="off">
          <span matSuffix>{{getCurrentSign()}}</span>
          <mat-error *ngIf="submitForm.get('basic')['controls'].rentPrice.errors?.required">Rent Price is
            required
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Invest Price -->
      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Invest Price</mat-label>
          <input matInput placeholder="Invest" min="0" onlyNumber formControlName="investPrice" required
            autocomplete="off">
          <span matSuffix>{{getCurrentSign()}}</span>
          <mat-error *ngIf="submitForm.get('basic')['controls'].investPrice.errors?.required">Invest Price is
            required
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="50" class="px-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Property Type</mat-label>
          <mat-select placeholder="Select Property Type" formControlName="propertyType" required>
            <mat-select-filter [array]="propertyTypes" [displayMember]="'name'" class="mat-filter"
              [placeholder]="'Find By Type..'" (filteredReturn)="filteredTypes = $event">
            </mat-select-filter>
            <mat-optgroup *ngFor="let group of filteredTypes" [label]="group.name">
              <mat-option *ngFor="let type of group.propertyTypes" [value]="type.id">
                {{type.name}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
          <mat-error *ngIf="submitForm.get('basic')['controls'].propertyType.errors?.required">Property Type is
            required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="100" class="px-3">
        <mat-card class="result">
          <mat-card-content>


            <section class="example-section">
              <mat-slide-toggle class="example-margin" [color]="primary" formControlName="swap">
                <mat-label>Swap?</mat-label>
              </mat-slide-toggle>
            </section>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="100" class="step-section pb-2">
        <p class="mb-0"><span class="uppercase fw-500">Gallery</span><span class="text-muted mx-3">(max 4 images)</span>
        </p>
        <input-file formControlName="gallery" fileLimit="4" fileAccept="image/*" [linkEnabled]="true"></input-file>
      </div>

      <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center"
          (click)="onSubmitForm('basic')" type="submit">
          <span class="mx-1 uppercase">Next</span>
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>

    </form>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle
    [disabled]="!submitForm.get('basic').valid">
    <mat-expansion-panel-header>
      <mat-panel-title>Address</mat-panel-title>
    </mat-expansion-panel-header>
    <form formGroupName="address" fxLayout="row wrap">

      <div fxFlex="100" class="p-3">
        <h1 class="fw-500 text-center">Address</h1>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-icon matPrefix class="mr-1 text-muted">location_on</mat-icon>
          <mat-label>Location</mat-label>
          <input matInput placeholder="Enter a location" formControlName="location" autocomplete="off"
            #addressAutocomplete>
          <button *ngIf="submitForm.get('address')['controls'].location.value" mat-button matSuffix mat-icon-button
            (click)="submitForm.get('address')['controls'].location.setValue(null)" type="button">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="submitForm.get('address')['controls'].location.errors?.required">Location is required
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2 mb-4">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]="true" [fullscreenControl]="true"
          (mapClick)="onMapClick($event)">
          <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (markerClick)="onMarkerClick($event)">
          </agm-marker>
        </agm-map>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Country</mat-label>
          <mat-select placeholder="Select Country..." formControlName="country" (selectionChange)="onSelectCountry()"
            required>
            <mat-select-filter [array]="countries" [displayMember]="'name'" class="mat-filter"
              [placeholder]="'Find By Country..'" (filteredReturn)="filteredCountries = $event">
            </mat-select-filter>
            <mat-option *ngFor="let country of filteredCountries" [value]="country.id">
              {{country.name}} -<i> {{country.nativeName}}</i>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="submitForm.get('address')['controls'].country.errors?.required">Country is required
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2" *ngIf="submitForm.get('address')['controls'].country.value">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>City</mat-label>
          <mat-select placeholder="Select City..." formControlName="city" required>
            <mat-select-filter [array]="cities" [displayMember]="'name'" class="mat-filter"
              [placeholder]="'Find By City..'" (filteredReturn)="filteredCities = $event">
            </mat-select-filter>
            <mat-option *ngFor="let city of filteredCities" [value]="city.id">
              {{city.name}}-<i> {{city.nativeName}}</i>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="submitForm.get('address')['controls'].city.errors?.required">City is required
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Zip Code</mat-label>
          <input matInput placeholder="exp. 98104" autocomplete="off" formControlName="zipCode">
        </mat-form-field>
      </div>

      <div fxFlex="100" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Street</mat-label>
          <input matInput placeholder="Street" formControlName="street" required autocomplete="off" minlength="15">
          <mat-error *ngIf="submitForm.get('address')['controls'].street.errors?.required">Street is required
          </mat-error>
          <mat-error *ngIf="submitForm.get('address')['controls'].street.errors?.minlength">Street must be
            Greater than 15
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="space-between center">
        <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" (click)="prevStep()"
          type="button">
          <mat-icon>navigate_before</mat-icon>
          <span class="mx-1 uppercase">Back</span>
        </button>
        <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center"
          (click)="onSubmitForm('address')" type="submit">
          <span class="mx-1 uppercase">Next</span>
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>

    </form>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle
    [disabled]="!submitForm.get('basic').valid || !submitForm.get('address').valid">
    <mat-expansion-panel-header>
      <mat-panel-title>Additional</mat-panel-title>
    </mat-expansion-panel-header>
    <form formGroupName="additional" fxLayout="row wrap">

      <div fxFlex="100" class="p-3">
        <h1 class="fw-500 text-center">Additional</h1>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Bedrooms</mat-label>
          <input matInput placeholder="bedrooms" autocomplete="off" formControlName="bedrooms" onlyNumber maxlength="2">
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Bathrooms</mat-label>
          <input matInput placeholder="bathrooms" autocomplete="off" formControlName="bathrooms" onlyNumber
            maxlength="2">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Rooms</mat-label>
          <input matInput required placeholder="Rooms" autocomplete="off" formControlName="rooms" onlyNumber
            minlength="1" maxlength="2">
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Balconies</mat-label>
          <input matInput required placeholder="Balconies" autocomplete="off" formControlName="balconies" onlyNumber
            minlength="1" maxlength="4">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Area (ft²)</mat-label>
          <input matInput placeholder="Area" autocomplete="off" formControlName="area" onlyNumber>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Owners</mat-label>
          <input matInput placeholder="Owners" autocomplete="off" formControlName="owners" onlyNumber>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Property Age</mat-label>
          <input matInput placeholder="Year Built" autocomplete="off" formControlName="yearBuilt" onlyNumber
            maxlength="4">
        </mat-form-field>
      </div>

      <div fxFlex="100" class="mb-2">
        <p class="uppercase m-2 fw-500">Features</p>
        <div formArrayName="features" fxLayout="row wrap">
          <div [formGroupName]="i"
            *ngFor="let control of submitForm.get('additional')['controls'].features['controls']; index as i"
            class="p-2">
            <mat-checkbox formControlName="selected">{{features[i].name}}</mat-checkbox>
          </div>
        </div>
      </div>
      <div fxFlex="100" class="mb-2">
        <p class="uppercase m-2 fw-500">Directions</p>
        <div formArrayName="directions" fxLayout="row wrap">
          <div [formGroupName]="i"
            *ngFor="let control of submitForm.get('additional')['controls'].directions['controls']; index as i"
            class="p-2">
            <mat-checkbox formControlName="selected">{{directions[i].name}}</mat-checkbox>
          </div>
        </div>
      </div>
      <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="space-between center">
        <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center" (click)="prevStep()"
          type="button">
          <mat-icon>navigate_before</mat-icon>
          <span class="mx-1 uppercase">Back</span>
        </button>
        <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center"
          (click)="onSubmitForm('additional')" type="submit">
          <span class="mx-1 uppercase">Update</span>
        </button>
      </div>


    </form>
  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="step === 4" fxLayout="row" fxLayoutAlign="center center" class="pt-3">
  <a routerLink="/account/my-properties" mat-raised-button color="accent">Return to my properties</a>
</div>