<div class="p-3">
  <div class="theme-container">

    <mat-card ngClass.lt-lg="p-0" [formGroup]="submitForm">

      <mat-horizontal-stepper #horizontalStepper linear="true" class="submit-property"
        (selectionChange)="onSelectionChange($event)">



        <mat-step [stepControl]="submitForm.get('basic')" label="Basic">
          <div class="step-content">
            <form formGroupName="basic" fxLayout="row wrap">

              <div fxFlex="100" class="p-3">
                <h1 class="fw-500 text-center">Basic</h1>
              </div>
              <!-- Title -->
              <div fxFlex="100" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Title</mat-label>
                  <input matInput placeholder="Title" formControlName="title" required autocomplete="off" minlength="10"
                    maxlength="20">
                  <mat-error *ngIf="submitForm.get('basic')['controls'].title.errors?.required">Title is required
                  </mat-error>
                  <mat-error *ngIf="submitForm.get('basic')['controls'].title.errors?.minlength">Title Must be Greater
                    than 10
                  </mat-error>
                  <mat-error *ngIf="submitForm.get('basic')['controls'].title.errors?.maxlength">Title Must be Less
                    than 20
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- Description -->
              <div fxFlex="100" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Description</mat-label>
                  <textarea matInput placeholder="Description" required formControlName="desc" rows="7"
                    minlength="20"></textarea>
                  <mat-error *ngIf="submitForm.get('basic')['controls'].desc.errors?.required">Description is required
                  </mat-error>
                  <mat-error *ngIf="submitForm.get('basic')['controls'].title.errors?.minlength">Description Must be
                    Greater
                    than 20
                  </mat-error>
                </mat-form-field>
              </div>
              <!--  Property Currency -->
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Property Currency</mat-label>
                  <mat-select placeholder="Select Property Currency" formControlName="propertyCurrency" #singleSelect
                    required>
                    <mat-select-filter [array]="propertyCurrencies" [displayMember]="'country'" class="mat-filter"
                      [placeholder]="'Find By Country..'" (filteredReturn)="filteredCurrencies = $event">
                    </mat-select-filter>
                    <mat-option *ngFor="let propertyCurrency of filteredCurrencies" [value]="propertyCurrency.id">
                      {{propertyCurrency.country}} ({{propertyCurrency.name}})
                      <i class="sign">- {{propertyCurrency.localSign}}</i>
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitForm.get('basic')['controls'].propertyCurrency.errors?.required">Property
                    Currency
                    is
                    required</mat-error>
                </mat-form-field>
              </div>
              <!--  Property Type -->
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Property Type</mat-label>
                  <mat-select placeholder="Select Property Type" formControlName="propertyType" required>
                    <mat-select-filter [array]="propertyTypes" [displayMember]="'name'" class="mat-filter"
                      [placeholder]="'Find By Type..'" (filteredReturn)="filteredTypes = $event">
                    </mat-select-filter>
                    <mat-optgroup *ngFor="let group of filteredTypes" [label]="group.name">
                      <mat-option *ngFor="let type of group.propertyTypes" [value]="type.id">
                        {{type.name}}
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
                  <mat-error *ngIf="submitForm.get('basic')['controls'].propertyType.errors?.required">Property Type is
                    required</mat-error>
                </mat-form-field>
              </div>
              <!-- Property Tags -->
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Property Tags</mat-label>
                  <mat-select placeholder="Select Property Tags" formControlName="propertyTags" multiple>
                    <mat-select-filter [array]="propertyTags" [displayMember]="'name'" class="mat-filter"
                      [placeholder]="'Find By Tags..'" (filteredReturn)="filteredTags = $event">
                    </mat-select-filter>
                    <mat-option *ngFor="let filteredTag of filteredTags" [value]="filteredTag.id">
                      {{filteredTag.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- Property Status -->
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Property Status</mat-label>
                  <mat-select placeholder="Select Property Status" (selectionChange)="propertyStatusChange($event)"
                    formControlName="propertyStatus" multiple required>
                    <mat-option *ngFor="let propertyStatus of propertyStatuses" [value]="propertyStatus">
                      {{propertyStatus.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitForm.get('basic')['controls'].propertyStatus.errors?.required">
                    Property Status
                    is
                    required</mat-error>
                </mat-form-field>
              </div>
              <!-- Sale Price -->
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-3">
                <mat-form-field appearance="outline" class="w-100" *ngIf="propertyStatusTypes.sale">
                  <mat-label>Sale Price</mat-label>
                  <input matInput placeholder="Sale" min="0" type="number" formControlName="salePrice" required
                    autocomplete="off" value="0">
                  <span matSuffix>{{getCurrentSign()}}</span>
                  <mat-error *ngIf="submitForm.get('basic')['controls'].salePrice.errors?.required">Sale Price is
                    required
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- Rent Price -->
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-3">
                <mat-form-field appearance="outline" class="w-100" *ngIf="propertyStatusTypes.rent">
                  <mat-label>Rent Price</mat-label>
                  <input matInput placeholder="Rent" min="0" type="number" formControlName="rentPrice" required
                    autocomplete="off" value="0">
                  <span matSuffix>{{getCurrentSign()}}</span>
                  <mat-error *ngIf="submitForm.get('basic')['controls'].rentPrice.errors?.required">Rent Price is
                    required
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- Invest Price -->
              <div fxFlex="100" fxFlex.gt-xs="50" class="px-3">
                <mat-form-field appearance="outline" class="w-100" *ngIf="propertyStatusTypes.invest">
                  <mat-label>Invest Price</mat-label>
                  <input matInput placeholder="Invest" min="0" type="number" formControlName="investPrice" required
                    autocomplete="off" value="0">
                  <span matSuffix>{{getCurrentSign()}}</span>
                  <mat-error *ngIf="submitForm.get('basic')['controls'].investPrice.errors?.required">Invest Price is
                    required
                  </mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="100" class="step-section pb-2">
                <p class="mb-0"><span class="uppercase fw-500">Gallery</span><span class="text-muted mx-3">(max 4
                    images)</span></p>
                <input-file formControlName="gallery" fileLimit="4" fileAccept="image/*"></input-file>
              </div>
              <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="end center">
                <button mat-raised-button color="primary" matStepperNext fxLayout="row" fxLayoutAlign="center center"
                  type="button">
                  <span class="mx-1 uppercase">Next</span>
                  <mat-icon>navigate_next</mat-icon>
                </button>
              </div>

            </form>

          </div>
        </mat-step>

        <mat-step [stepControl]="submitForm.get('address')" label="Address">
          <div class="step-content">

            <form formGroupName="address" fxLayout="row wrap">

              <div fxFlex="100" class="p-3">
                <h1 class="fw-500 text-center">Address</h1>
              </div>

              <div fxFlex="100" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-icon matPrefix class="mr-1 text-muted">location_on</mat-icon>
                  <mat-label>Location</mat-label>
                  <input matInput placeholder="Enter a location" formControlName="location" autocomplete="off"
                    #addressAutocomplete>
                  <button *ngIf="submitForm.get('address')['controls'].location.value" mat-button matSuffix
                    mat-icon-button (click)="submitForm.get('address')['controls'].location.setValue(null)"
                    type="button">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error *ngIf="submitForm.get('address')['controls'].location.errors?.required">Location is
                    required</mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="100" class="px-2 mb-4">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]="true"
                  [fullscreenControl]="true" (mapClick)="onMapClick($event)">
                  <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"
                    (markerClick)="onMarkerClick($event)" [iconUrl]="
                              {
                                url: './assets/images/others/marker.png',
                                scaledSize: {
                                    width: 40,
                                    height: 60
                                }
                            }"></agm-marker>
                </agm-map>
              </div>

              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Country</mat-label>
                  <mat-select placeholder="Select Country..." formControlName="country"
                    (selectionChange)="onSelectCountry()" required>
                    <mat-select-filter [array]="countries" [displayMember]="'name'" class="mat-filter"
                      [placeholder]="'Find By Country..'" (filteredReturn)="filteredCountries = $event">
                    </mat-select-filter>
                    <mat-option *ngFor="let country of filteredCountries" [value]="country.id">
                      {{country.name}} -<i> {{country.nativeName}}</i>
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitForm.get('address')['controls'].country.errors?.required">Country is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2"
                *ngIf="submitForm.get('address')['controls'].country.value">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>City</mat-label>
                  <mat-select placeholder="Select City..." formControlName="city" required>
                    <mat-select-filter [array]="cities" [displayMember]="'name'" class="mat-filter"
                      [placeholder]="'Find By City..'" (filteredReturn)="filteredCities = $event">
                    </mat-select-filter>
                    <mat-option *ngFor="let city of filteredCities" [value]="city.id">
                      {{city.name}}-<i> {{city.nativeName}}</i>
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitForm.get('address')['controls'].city.errors?.required">City is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Zip Code</mat-label>
                  <input matInput placeholder="exp. 98104" autocomplete="off" formControlName="zipCode">
                </mat-form-field>
              </div>

              <div fxFlex="100" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Street</mat-label>
                  <input matInput placeholder="Street" formControlName="street" required autocomplete="off"
                    minlength="15">
                  <mat-error *ngIf="submitForm.get('address')['controls'].street.errors?.required">Street is required
                  </mat-error>
                  <mat-error *ngIf="submitForm.get('address')['controls'].street.errors?.minlength">Street must be
                    Greater than 15
                  </mat-error>
                </mat-form-field>
              </div>

              <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="space-between center">
                <button mat-raised-button color="primary" matStepperPrevious fxLayout="row"
                  fxLayoutAlign="center center" type="button">
                  <mat-icon>navigate_before</mat-icon>
                  <span class="mx-1 uppercase">Back</span>
                </button>
                <button mat-raised-button color="primary" matStepperNext fxLayout="row" fxLayoutAlign="center center"
                  type="button">
                  <span class="mx-1 uppercase">Next</span>
                  <mat-icon>navigate_next</mat-icon>
                </button>
              </div>

            </form>

          </div>
        </mat-step>

        <mat-step [stepControl]="submitForm.get('additional')" label="Additional">
          <div class="step-content">

            <form formGroupName="additional" fxLayout="row wrap">

              <div fxFlex="100" class="p-3">
                <h1 class="fw-500 text-center">Additional</h1>
              </div>

              <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Bedrooms</mat-label>
                  <input matInput required placeholder="bedrooms" autocomplete="off" formControlName="bedrooms"
                    onlyNumber minlength="1" maxlength="2">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Bathrooms</mat-label>
                  <input matInput required placeholder="bathrooms" autocomplete="off" formControlName="bathrooms"
                    onlyNumber minlength="1" maxlength="2">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Rooms</mat-label>
                  <input matInput required placeholder="Rooms" autocomplete="off" formControlName="rooms" onlyNumber
                    minlength="1" maxlength="2">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Balconies</mat-label>
                  <input matInput required placeholder="Balconies" autocomplete="off" formControlName="balconies"
                    onlyNumber minlength="1" maxlength="4">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Area (ft²)</mat-label>
                  <input matInput required placeholder="Area" autocomplete="off" formControlName="area" onlyNumber
                    minlength="1" maxlength="3">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Property Age</mat-label>
                  <input matInput required placeholder="Property Age" autocomplete="off" formControlName="yearBuilt"
                    onlyNumber minlength="1" maxlength="4">
                </mat-form-field>
              </div>

              <div fxFlex="100" fxFlex.gt-xs="25" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Owners</mat-label>
                  <input matInput required placeholder="Number of Owners" autocomplete="off" formControlName="owners"
                    onlyNumber minlength="1" maxlength="4">
                </mat-form-field>
              </div>

              <div fxFlex="100" class="mb-2">
                <p class="uppercase m-2 fw-500">Features</p>
                <div formArrayName="features" fxLayout="row wrap">
                  <div [formGroupName]="i"
                    *ngFor="let control of submitForm.get('additional')['controls'].features['controls']; index as i"
                    class="p-2">
                    <mat-checkbox formControlName="selected">{{features[i].name}}</mat-checkbox>
                  </div>
                </div>
              </div>

              <div fxFlex="100" class="mb-2">
                <p class="uppercase m-2 fw-500">Directions</p>
                <div formArrayName="directions" fxLayout="row wrap">
                  <div [formGroupName]="i"
                    *ngFor="let control of submitForm.get('additional')['controls'].directions['controls']; index as i"
                    class="p-2">
                    <mat-checkbox formControlName="selected">{{directions[i].name}}</mat-checkbox>
                  </div>
                </div>
              </div>

              <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="space-between center">
                <button mat-raised-button color="primary" matStepperPrevious fxLayout="row"
                  fxLayoutAlign="center center" type="button">
                  <mat-icon>navigate_before</mat-icon>
                  <span class="mx-1 uppercase">Back</span>
                </button>
                <button mat-raised-button color="primary" matStepperNext fxLayout="row" fxLayoutAlign="center center"
                  type="button">
                  <span class="mx-1 uppercase">Next</span>
                  <mat-icon>navigate_next</mat-icon>
                </button>
              </div>


            </form>


          </div>
        </mat-step>

        <mat-step label="Confirmation">
          <div class="step-content">
            <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-between center" class="pt-5 text-center">
              <div class="p-3 primary-color">
                <app-logo-large></app-logo-large>
              </div>
              <div class="pt-7">
                <h3>Confirm the Property Subbmission</h3>
                <button mat-fab color="primary" (click)="submit()">
                  <mat-icon>check</mat-icon>
                </button>
                <div *ngIf="submited == 'success'">
                  <h2 class="mt-3 uppercase">Congratulation!</h2>
                  <h2 class="my-3">Your property <span
                      class="primary-color">"{{submitForm.get('basic')['controls'].title.value}}"</span> has been
                    submitted
                  </h2>
                </div>
                <div *ngIf="submited == 'fail'">
                  <h2 class="my-3">Failed , Please Try Again Later</h2>
                </div>
              </div>
              <!--   <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus dolor ante, ut
                  luctus mi faucibus a. Ut eu tincidunt neque. Proin porttitor id ligula id placerat. Integer nec nulla
                  varius, dapibus libero quis, semper eros. Aliquam erat volutpat. Proin volutpat tellus vel purus
                  interdum euismod.</p> -->
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="pt-5">
              <button mat-raised-button color="accent" (click)="reset()" type="button">Return to submit new
                property</button>
            </div>

          </div>
        </mat-step>

      </mat-horizontal-stepper>

    </mat-card>


  </div>
</div>