@mixin menu-level-padding($direction){
    $elem: '';
    @for $i from 2 through 10 {
        $elem: if($i == 2, ".sub-menu", selector-nest($elem, ".sub-menu"));      
        #{$elem + ' .mat-button'} { 
            @if $direction == "rtl" {
                padding-right: 16px + (20px * $i);
            } 
            @else{
                padding-left: 16px + (20px * $i);
            }
        }
    }
}
@mixin mat-select-filter-theme($theme) {
    // Extract the palettes you need from the theme definition.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
  
    .mat-filter {
        $background: map-get($theme, background);
        $foreground: map-get($theme, foreground);
    
        background-color: mat-color($background, background)!important;
        color: mat-color($foreground, text)!important;
    }
  }